.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;

   &__subheader {
     height: 80px;
     line-height: 80px;
     width: 100%;
     background: linear-gradient(135deg, var(--color-logo-blue), var(--color-primary) 50%);
     color: var(--color-text-secondary);
     text-align: center;
     margin-bottom: 50px;
   }

   &__main {
     flex: 1 0 auto;
   }

   &__footer {
     flex-shrink: 0;
     height: 100px;
     background: var(--color-background-secondary);
   }
}
