.order {
  margin: 50px 10px 50px 10px;
  text-align: left;

  &__order-ctr {
    position: relative;
    border: 1px solid var(--color-text-primary);
    border-radius: 3px;
    padding: 0 25px 0 25px;
  }

  &__top-ctr {
    margin: 0 0 25px 0;
  }

  &__top-inline-group {
    display: inline-block;
    margin: 25px 50px 0 0;

    > h1 {
      font-size: 22px;
      margin-bottom: 2px;
    }
  }

  &__date {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: -20px;
    font-size: 13px;
    font-style: italic;
  }

  &__details-group {
    margin-bottom: 25px;
    border: 1px solid var(--color-border-primary-light);
    padding: 15px;
    border-radius: 3px;

    > h3 {
      font-size: 20px;
      margin-bottom: 10px;
    }

    > p {
      margin-bottom: 10px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  &__inline-group {
    display: inline-block;
    margin: 0 20px 10px 0;
  }

  &__inner-header {
    color: var(--color-text-primary-light);
    font-size: 10px;
    margin-bottom: 2px;
  }

  &__link-ctr {
    margin-bottom: 25px;
    text-align: left;

    > a {
      display: inline-block;
      font-weight: bold;
      color: var(--color-primary);
      border: 1px solid var(--color-primary);
      border-radius: 3px;
      padding: 5px;
    }
  }

  &__loading-ctr {
    margin-top: 50px;
    text-align: center;
  }

  &__not-found-ctr {
    margin-top: 50px;
    text-align: center;

    > h1 {
      font-size: 20px;
    }
  }

  &__not-found-link-ctr {
    margin: 25px 0;

    > a {
      display: inline-block;
      font-weight: bold;
      color: var(--color-primary);
      border: 1px solid var(--color-primary);
      border-radius: 3px;
      padding: 5px;
    }
  }

}
