.pro {
  text-align: center;
  width: 90%;
  max-width: 840px;
  margin: 0 auto;

  &__form {
    display: inline-block;
    border: 1px solid var(--color-border-primary-light);
    border-radius: 3px;
    width: 100%;
    padding: 25px;
  }

  &__btn-ctr {
    text-align: center;
    margin-top: 50px;

    > button {
      color: var(--color-primary);
      border: 2px solid var(--color-primary);
      border-radius: 3px;
      padding: 10px 0;
      width: 100px;
      margin-right: 25px;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  &__errors-ctr {
    display: block;
    margin: 0 auto 25px auto;
    text-align: center;
    color: var(--color-error);
    overflow-y: scroll;
    width: 225px;
    max-height: 150px;
    border-radius: 3px;
  }

  &__error {
    font-size: 10px;
    margin-bottom: 5px;
    padding: 6px;
    border: 1px solid var(--color-error);
    border-radius: 3px;

    &:last-of-type {
      margin-bottom: 0;
    }

    &::first-letter {
      text-transform: uppercase;
    }
  }

}
